.container{
    background-image: url("/Users/semasuka/e3/img/hero.jpg");
    background-size: cover;
    height: 78%;
    color: white;
}
a{
    color: white;
}
a:hover{
    color:#c4ba7c;
}
.logo{
    padding-left:15%;
    padding-top: 15%;
}
.navbar{
    padding-top: 6%;
}
.introtext{
    padding-top: 20%;
    padding-left: 9%;
    font-size: 55px;
}
.intropar{
    text-align: center;
    padding-top: 3%;
    padding-left: 10%;
    font-size: 18px;
}
.mouse_click{
    padding-top: 30%;
    padding-left: 52%;
}