.container{
    background-image: url("/Users/semasuka/e3/img/hero.jpg");
    background-size: cover;
    height: 75%;
    color: white;
}
a{
    color: white;
}
a:hover{
    color:#c4ba7c;
}
.logo{
    padding-left:15%;
    padding-top: 15%;
}
.navbar{
    padding-top: 6%;
}
.